#root {
    background-color: #d3d3d3;
}

#card-tx {
    border-radius: 25px;
    background-color:  #444444;
}

#p{
    color: #d3d3d3
}
.form-label{
    color: #fff;
}

img{
    border-radius: 10px;
}

#btn-register:hover{
    transform: scale(1.15);
}

#btn-login:hover{
    transform: scale(1.15);
}